<app-menu></app-menu>
<div class="inicio"> 
    <div class="contenedor">
        <div class="esquema__contenedor">
            <div class="titulo">
                <h3 target="_blank">Planos de Captaciones presentados sin aprobación</h3>
                
            </div>
            <div class="titulo">
                <h4 target="_blank">LLACTAYO SAN ISIDRO GOTERAS YÁNEZ SAN VICENTE DE TASHIMA</h4>
                <br>
                <h5 target="_blank">PLANO</h5>
                    <ngx-doc-viewer [url]="doc" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <h4 target="_blank">PILACUMBI</h4>
                <br>
                <h5 target="_blank">Análisis de precios unitarios</h5>
                    <ngx-doc-viewer [url]="doc2" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <h5 target="_blank">Especificaciones Técnicas</h5>
                    <ngx-doc-viewer [url]="doc3" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <h5 target="_blank">Plano 1</h5>
                    <ngx-doc-viewer [url]="doc4" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <h5 target="_blank">Plano 2</h5>
                    <ngx-doc-viewer [url]="doc5" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <h5 target="_blank">Plano 3</h5>
                    <ngx-doc-viewer [url]="doc6" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <h5 target="_blank">Plano 4</h5>
                    <ngx-doc-viewer [url]="doc7" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <h5 target="_blank">Plano 5</h5>
                    <ngx-doc-viewer [url]="doc8" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <h5 target="_blank">Presupuesto</h5>
                    <ngx-doc-viewer [url]="doc9" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <h5 target="_blank">Resumen Material</h5>
                    <ngx-doc-viewer [url]="doc10" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <h4 target="_blank">REGIONAL ORIENTAL</h4>
                <br>
                    <h5 target="_blank">Implantación general de la captación</h5>
                        <ngx-doc-viewer [url]="doc11" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                    <br>
                <h4 target="_blank">TOACASO</h4>
                <br>
                    <h5 target="_blank">Plano 1</h5>
                        <ngx-doc-viewer [url]="doc12" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                    <br>
                    <h5 target="_blank">Plano 2</h5>
                        <ngx-doc-viewer [url]="doc13" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                    <br>
                    <h5 target="_blank">Plano 3</h5>
                        <ngx-doc-viewer [url]="doc14" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                    <br>
                    <h5 target="_blank">Plano 4</h5>
                        <ngx-doc-viewer [url]="doc15" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                    <br>
                    <h5 target="_blank">Plano 5</h5>
                        <ngx-doc-viewer [url]="doc16" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                    <br>
                    <h5 target="_blank">Plano 6</h5>
                        <ngx-doc-viewer [url]="doc17" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                    <br>   
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>