<div class="row">
    <div class="col-md-8 mr-auto ml-auto">
        <div class="card page-carousel">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <img src="./assets/img/water.jpg" alt="Random first slide">
                    <div class="carousel-caption">
                        <p style="color : rgba(0,0,0,0.8);">Tratamiento del Agua Potable</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="./assets/img/mantenimiento_canales.jpg" alt="Random second slide">
                    <div class="carousel-caption">
                        <p>Mantenimiento de los canales de distribución de Agua Potable</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="./assets/img/water_map.jpeg" alt="Random third slide">
                    <div class="carousel-caption">
                        <p>Visualización en mapas de las juntas de agua potable del Cotopaxi</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>