<app-menu></app-menu>
<div class="inicio"> 
    <div class="contenedor">
        <div class="esquema__contenedor">
            <h3><b>Introducción</b></h3>
            <h4>
                
                Una exigibilidad desde el MAATE para elevar la gestión de una JAAP es la presentación de planos, de la información entregada solamente 2 tienen planos de captación aprobados, cuatro en trámite de aprobación y una en trámite para presentación.
                Esta realidad nos deja ver que existe un tratamiento marginal por parte de las JAAPs para el cumplimiento de elementales formas de mejorar la gestión del agua.
                Instamos a que las JAAPs, se pongan al día con los requerimientos técnicos para fortalecer su gestión. 

            </h4>
            <h3><b>Links a los planos</b></h3>
            <ul style="list-style: none; font-size: large;" class="m-3">
                <li ><a [routerLink]="['/aprobados']">Aprobados</a></li> 
                <li><a [routerLink]="['/presentado-sin-aprobacion']">Presentados Sin Aprobación</a></li> 
                <li><a [routerLink]="['/por-presentar-jaap']">Por presentar por parte de la JAAP</a></li>   
            </ul>
            
        </div>
    </div>
</div>
<app-footer></app-footer>