<footer class="footer">
    <div class="footer__container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <div class="footer_vertical">
                    <img class="img_footer" src="../../../assets/img/LOGO_CESA.png" alt="CESA">
                    <!-- <p [routerLink]="['/nosotros']" >Conócenos</p>
                    <p [routerLink]="['/franquicias']" >Contáctanos</p> -->
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer_vertical">
                    <!-- <h4 style="margin-top: 10px;">Sobre Nosotros</h4> -->
                    <p [routerLink]="['/Inicio']" >Inicio</p>
                    <p [routerLink]="['/jaap']" >Información JAAPs</p>
                    <p [routerLink]="['/padron']" >Padron Usuarios</p>
                    
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer_vertical">
                    <!-- <h4 style="margin-top: 10px;">Productos</h4> -->
                    <p [routerLink]="['/esquema']" >Esquema Sistema</p>
                    <p [routerLink]="['/planojunta']" >Plano Sistema</p>
                    <p [routerLink]="['/mapaafeccion']" >Gestión de Riesgos</p>
                    <!-- <p [routerLink]="['/sensibilizacionuno']" >Sensibilización 1</p> -->
                    <!-- <p [routerLink]="['/sensibilizaciondos']" >Sensibilización 2</p>
                    <p [routerLink]="['/sensibilizaciontres']" >Sensibilización 3</p>
                    <p [routerLink]="['/sensibilizacioncuatro']" >Sensibilización 4</p> -->
                    <!-- <h4 style="margin-top: 10px;">Atención al cliente</h4> -->
                    <!-- <a href="https://api.whatsapp.com/send?phone=593994150341" target="_blank">
                        <img style="width: 200px; height: 100px; object-fit: cover;"
                        src="../../../assets/img/servicio-al-cliente.png" alt="Atencion al cliente bogati">
                    </a> -->
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer_vertical">
                    <!-- <img src="../../../assets/img/historia/icono-siguenos.png" alt="Bogati" style="height: 100px;
                    width: 100%;"> -->
                    <!-- <div class="footer_iconos">
                        <a href="https://www.facebook.com/bogati.ec/" target="_blank">
                            <img src="../../../assets/img/pie-pagina-facebook.png" alt="Bogati">
                        </a>
                        <a href="https://www.instagram.com/bogati.ec/" target="_blank">
                            <img src="../../../assets/img/pie-pagina-insta.png" alt="Bogati">
                        </a>
                        <a href="https://www.tiktok.com/@bogati.ec?lang=es" target="_blank">
                            <img src="../../../assets/img/pie-pagina-tik-tok.png" alt="Bogati">
                        </a>
                        <a href="https://twitter.com/bogati_ec" target="_blank">
                            <img src="../../../assets/img/pie-pagina-twiter.png" alt="Bogati">
                        </a>
                        <a href="https://www.youtube.com/channel/UC4v9l7mql_EhEFHBJoCsnng" target="_blank">
                            <img src="../../../assets/img/pie-paginba-youtube.png" alt="Bogati">
                        </a>
                    </div> -->
                    <img class="flecha__inicio" src="../../../assets/img/Flecha-subir-inicio.png" (click)="scrollToElement()" alt="Bogati">
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer__copy">
    <p>&copy;CESA <b>2023</b></p>
</div>