
<style>
    .rgba-bg {
      background-color: rgba(32, 66, 37, 0.562); /* Adjust the alpha value as needed */
    }
  </style>
<footer class="footer">
    <div class="footer__container rgba-bg">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <div class="footer_vertical">
                    <img class="img_footer" src="../../../assets/img/LOGO_CESA.png" alt="CESA">
                   </div>
            </div>
            <div class="col-sm-3">
                <div class="footer_vertical">
                    <p [routerLink]="['/Inicio']" >Inicio</p>
                    <p [routerLink]="['/jaap']" >Información JAAPs</p>
                    <p [routerLink]="['/padron']" >Padron Usuarios</p>
                    
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footer_vertical">
                    <!-- <h4 style="margin-top: 10px;">Productos</h4> -->
                    <p [routerLink]="['/esquema']" >Esquema Sistema</p>
                    <p [routerLink]="['/planojunta']" >Plano Sistema</p>
                       </div>
            </div>
            <div class="col-sm-3">
                <div class="footer_vertical">
                      <img class="flecha__inicio" src="../../../assets/img/Flecha-subir-inicio.png" (click)="scrollToElement()" alt="Bogati">
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer__copy">
    <p>&copy;CESA <b>2023</b></p>
</div>