<app-menu></app-menu>
<div class="inicio"> 
    <div class="contenedor">
        <div class="jaaps__contenedor">
            <div class="titulo">
                Estatuto y Reglamento
            </div>
            <div class="jaaps__contenedor_img">
                <img src="../../../assets/img/inicio.png" alt="Inicio">
            </div>
            <div class="jaaps__contenedor_text">
                <div class="titulo">
                    Estatuto 
                </div>
                <div class="titulo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
                    <a href="../../../assets/archivos/estatuto.docx" target="_blank">Descargar Estatuto</a>
                </div>
                <div class="titulo">
                    Reglamento 
                </div>
                <div class="titulo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
                    <a href="../../../assets/archivos/reglamento.docx" target="_blank">Descargar Reglamento</a>
                </div>
                <div class="titulo">
                    Plan de contingencia 
                </div>
                <div class="titulo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
                    <a href="../../../assets/archivos/PLAN DE CONTINGENCIA MAATE OT LATACUNGA MESA 1.pdf" target="_blank">Descargar Plan de contingencia</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>