<app-menu></app-menu>
<div class="inicio"> 
    <div class="contenedor">
        <div class="esquema__contenedor">
            <div class="titulo">
                Sensibilización 2 : "Tema de la sensibilización"
            </div>
            <div class="titulo">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
                <a href="../../../assets/archivos/proteccion2.docx" target="_blank">Descargar Documento</a>
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
                <a href="../../../assets/archivos/proteccion2.ppt" target="_blank">Descargar Presentación</a>
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
                <a href="https://us06web.zoom.us/rec/share/pf2jQPX_yJZ5LsMDJfeaI7EfFBTeYU3hd_IXBZwROG8JnDEnDZeflWJvEg7YoHmr.E5vGbMBJxwSYlWoV" target="_blank">Ver Video</a>
            </div>
            <ngx-doc-viewer [url]="doc" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
        </div>
    </div>
</div>
<app-footer></app-footer>