<app-menu></app-menu>
<div class="inicio"> 
    <div class="contenedor">
        <div class="plano__contenedor">
            <div class="titulo">
                Reglamento de Junta de Agua
            </div>
            <div class="plano__contenedor_img">
                <img src="../../../assets/img/inicio.png" alt="Inicio">
            </div>
            <div class="plano__contenedor_text">
               <div class="parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
               </div>
               <div class="parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
               </div>
               <div class="parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, pariatur.
               </div>
            </div>
        </div>
        
    </div>
</div>
<app-footer></app-footer>
