<app-menu></app-menu>

<div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div class="angular-logo">
                    <img src="../../../assets/img/LOGO_CESA.png" style="cursor: pointer;" alt="Oscar Ayerve">
                </div>
                <h1 class="presentation-title">CESA</h1>
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
            </div>

            <h2 class="presentation-subtitle text-center">A la vanguardia de administración del Agua Potable</h2>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    
    <!--
        
    <h6 class="category category-absolute">Designed and coded by 

        <a href="https://www.creative-tim.com" target="_blank">
            <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
        </a>
    -->
</div>
<div class="section" id="carousel">
    <div class="container">
        <div class="tim-title">
            <h3>Nuestro Objetivo</h3>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="./assets/img/water.jpg" alt="Random first slide">
                            <div class="carousel-caption">
                                <p style="color : rgba(0,0,0,0.8);">Tratamiento del Agua Potable</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/mantenimiento_canales.jpg" alt="Random second slide">
                            <div class="carousel-caption">
                                <p>Mantenimiento de los canales de distribución de Agua Potable</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="./assets/img/water_map.jpeg" alt="Random third slide">
                            <div class="carousel-caption">
                                <p>Visualización en mapas de las juntas de agua potable del Cotopaxi</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="inicio">
    <div class="contenedor">
        <div class="jaaps__contenedor">
            <div class="titulo">
                JUNTA ADMINISTRADORA DE AGUA POTABLE ""
            </div>
            <div class="jaaps__contenedor_img">
                <img src="../../../assets/img/inicio.png" alt="Inicio">
            </div>
            <div class="jaaps__contenedor_text">
                <div class="titulo">
                    Nombre de la medida complementaria  
                </div>
               <div class="parrafo" style="text-align: center;">
                “Virtualidad y digitalización en la gestión de proyectos de cooperación al desarrollo en la zona rural del Ecuador”
                <br>
                Objetivos específicos:   
               </div>
               <div class="parrafo" style="text-align: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
                Las juntas de agua en la provincia de Cotopaxi implementan una estrategia profesional e integral del manejo de agua  
               </div>
               <div class="parrafo" style="text-align: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
                Más mujeres involucradas en la Gestión de las JAAPs
               </div>
            </div>
        </div>
    </div>
</div>
-->

<app-footer></app-footer>