<app-menu></app-menu>
<div class="inicio"> 
    <div class="contenedor">
        <audio  loop autoplay>
            <source src="../../../assets/audio/ambiental_water.mp3" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
          
        <div class="wrapper">
            <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/river.jpeg');">
                <div class="filter"></div>
            </div>
            <div class="section profile-content">
                <div class="container">
                    <div class="owner">
                        <div class="avatar">
                            <div class="angular-logo">
                                <img src="../../../assets/img/LOGO_CESA.png" style="cursor: pointer;" alt="Oscar Ayerve">
                            </div>
                            </div>
                        <div class="name">
                            <h4 class="title">Juntas de Agua Potable Cotopaxi<br /></h4>
                            <h6 class="description">Las Juntas de Agua Potable son como los latidos vitales de una comunidad, donde el fluir constante del agua transparente se convierte en el hilo conductor que teje la esencia misma de la vida. Son guardianas incansables del bienestar y la salud, velando en las sombras para asegurar que cada gota que fluye de los grifos sea un tributo a la pureza y un regalo para la prosperidad.</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto text-center">
                            <p>Estas juntas son las sinfonías ocultas que componen una sinfonía de sustento, irrigando los campos de sueños y manteniendo la sed de conocimiento y crecimiento saciada. Son las mariposas de la ecología urbana, desplegando sus alas para esparcir la transformación a medida que el agua recorre kilómetros de tuberías, llevando consigo la vitalidad que se transforma en baños renovadores, cocinas creativas y ríos de actividades cotidianas.

                                Desde el oscuro dominio de las tuberías hasta la luminosidad de la cocina donde el agua danza en las ollas y sartenes, las Juntas de Agua Potable son los alquimistas modernos, transmutando líquidos en salud, higiene y confort. Son como los guardabosques de la naturaleza líquida, asegurando que el tesoro más valioso fluya ininterrumpidamente hacia la vida de quienes confían en su compromiso.
                                
                                Cada goteo, cada flujo es un testimonio del esfuerzo humano, la dedicación y la ingeniería que convergen en un río invisible que nutre una sociedad. Son las palabras no habladas en cada sorbo, la promesa silenciosa de que la salud y la comodidad son cuidadosamente tejidas en la esencia de cada comunidad a través de las manos laboriosas de las Juntas de Agua Potable.</p>
                            <br />
                            <b>("Las Juntas de Agua Potable son como los latidos...", Anónimo, s.f.)</b>
                        </div>
                        
                    <br/>
                    
                </div>
            </div>
        </div>
        
        
    </div>
</div>
<app-footer></app-footer>