<app-menu></app-menu>
<div class="inicio"> 
    <div class="contenedor">
        <div class="esquema__contenedor">
            <div class="titulo">
                Planos de Captaciones
            </div>
            <div class="titulo">
                <p target="_blank">El campamento</p>
                <br>
                <p target="_blank">Campamento Plano 1</p>
                    <ngx-doc-viewer [url]="doc" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <p target="_blank">Campamento Plano 2</p>
                    <ngx-doc-viewer [url]="doc2" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <p target="_blank">Campamento Plano 3</p>
                    <ngx-doc-viewer [url]="doc3" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <p target="_blank">Campamento Plano 3</p>
                    <ngx-doc-viewer [url]="doc3" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <p target="_blank">Carátula El Campamento</p>
                    <ngx-doc-viewer [url]="doc4" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <p target="_blank">Memoria Técnica El Campamento</p>
                    <ngx-doc-viewer [url]="doc5" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <p target="_blank">Oficio A Senagua El Campamento</p>
                    <ngx-doc-viewer [url]="doc6" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <p target="_blank">Precios y presupuesto El Campamento</p>
                    <ngx-doc-viewer [url]="doc7" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                </div>
                <p target="_blank">Vertederos El Campamento</p>
                    <ngx-doc-viewer [url]="doc8" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
                <h1 target="_blank">Yugsiche Alto</h1>
                
                <p target="_blank">Plano Captaciones</p>
                    <ngx-doc-viewer [url]="doc9" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                <br>
        </div>
    </div>
</div>
<app-footer></app-footer>