<app-menu></app-menu>
<div class="inicio"> 
    <div class="contenedor">
        <div class="esquema__contenedor">
            <div class="titulo">
                <h3 target="_blank">Planos de Captaciones por presentar por parte de la JAAP</h3>
                
            </div>
            <div class="titulo">
                <h4 target="_blank">SAN LUIS YACUPUNGO</h4>
                <br>
                    <h5 target="_blank">PLANO 1</h5>
                        <ngx-doc-viewer [url]="doc" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                    <br>
                    <h5 target="_blank">PLANO 2</h5>
                        <ngx-doc-viewer [url]="doc2" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                    <br>
                    <h5 target="_blank">PLANO 3</h5>
                        <ngx-doc-viewer [url]="doc3" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                    <br>
                    <h5 target="_blank">PLANO 4</h5>
                        <ngx-doc-viewer [url]="doc4" [viewer]='viewer' style="width:100%;height:80vh;"></ngx-doc-viewer>
                    <br>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>