
<app-menu></app-menu>


  <div class="inicio">

<h1 id="titulos" class="mat-h1" tourAnchor="titulos" class="mat-h1">
  tre
</h1>
    <div class="contenedor">
        <div class="titulo">
            Mapa de afectación, rutas de evacuación y zona segura del volcan Cotopaxi
        </div>
        <div class="mapa__contenedor">
            <iframe class="mapa" src="https://www.google.com/maps/d/embed?mid=1CsLcqbaNRCPPv62q83CMjB81toksqYo&ehbc=2E312F" width="auto" height="auto"></iframe>
        </div>
    </div>
</div>

<h1 id="app-mapaafectacion" tourAnchor="app-mapaafectacion" class="mat-h1" >
  Home works!
</h1>

<h1 id="me_redirijo" tourAnchor="me_redirijo" class="mat-h1">
  Home A works!
</h1>

<app-footer></app-footer>

